name: conditional-check

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
  pull_request:
    paths-ignore:
      - 'docs/**'

concurrency: ${{ github.workflow }}

jobs:
  check:
    uses: ./.github/workflows/non-docs-check.yml

