name: non-docs-check

on:
  workflow_call:

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Non-docs files updated
        run: echo "Files other than docs have been updated"

