name: conditional-check

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
  pull_request:
    paths-ignore:
      - 'docs/**'

concurrency: ${{ github.workflow }}

jobs:
  # 実際の処理
  check:
    uses: ./.github/workflows/non-docs-check.yml
  
  check2:
    uses: ./.github/workflows/non-docs-check2.yml
  
  # 仮のジョブ：branch protection ruleで使用
  # checkとcheck2の両方が正常終了したときに正常終了する
  status-check:
    name: Status Check
    needs: [check, check2]
    runs-on: ubuntu-latest
    steps:
      - name: All checks passed
        run: echo "All checks passed"

