name: Renovate
on: workflow_dispatch
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Renovate
        uses: renovatebot/github-action@v43.0.20
        with:
          configurationFile: renovate.json
          token: ${{ secrets.PAT }}
        env:
          LOG_LEVEL: debug
